body {
        margin: 0;
        overflow: hidden;
}


canvas {
        overflow: clip;
        overflow-clip-margin: content-box;
}

.next {
        position: fixed;
        font-size: 5rem;
        bottom: 50px;
        right: 50px;
        text-decoration: none;
        z-index: 1;
}

.back {
        position: fixed;
        font-size: 5rem;
        bottom: 50px;
        left: 50px;
        text-decoration: none;
        z-index: 1;
}

#p1-next,
#p2-next,
#p2-back {
        color: white;
}

#p3-back,
#p3-next,
#p4-back,
#p4-next {
        color: black;
}

#page-3 {

        height: 800vh;
        overflow: auto !important;

}

#page-4 {

        height: 800vh;
        overflow: auto !important;

}

#page-3 canvas,
#page-4 canvas {

        position: fixed;

}
