body {
        margin: 0;
        overflow: hidden;
}


canvas {
        overflow: clip;
        overflow-clip-margin: content-box;
}

.next {

        position: absolute;
        font-size: 5rem;
        bottom: 50px;
        right: 50px;
        text-decoration: none;
        z-index: 1;

}

.back {

        position: fixed;
        font-size: 5rem;
        bottom: 50px;
        left: 50px;
        text-decoration: none;
        z-index: 1;

}

#p1-next,
#p2-next,
#p2-back{
        color: white;
}

#p3-back{
        color: black;
}

#page-3{

        height: 200vh;
        overflow: auto !important;

}

#page-3 canvas{

        position: fixed;

}
